* {
    padding: 0;
    margin: 0;
    display: flexbox;
}

.cabeca {
    justify-content: center;
    align-items: center;
    display: flex;
}

p {
    padding: 30px;
}

.central {
    justify-content: center;
    align-items: flex-start;
}