html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background: url('img/foto.jpg') no-repeat right;
    background-size: 40%;
    background-color: black;
    color: white;
    font-family: 'Roboto Condensed';
}

span {
    color: orangered;
}

.enfase {
    font-weight: bolder;
}

.rosto {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.texto-inicial {
    margin: 10%;
}

.maior {
    font-size: 35px;
}

.btn {
    display: inline-block;
    border: 2px solid orangered;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 5px;
    font-family: inherit;
    background: transparent;
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: 0.5s;
    appearance: none;
    -webkit-appearance: none;
}

.btn:hover {
  background: orangered;
  color: black;
}

/*
border-width;
border-style;  -> border: tamanho (width) / tipo (style) / cor (color);
border-color;
*/
.container_btn {
    margin: 10px;
}

.contact {
    /padding: 250px 0px 0px;
    display: grid;
    position: relative;
}

.name:hover {
    border: 1px solid orangered;
}

.email:hover {
    border: 1px solid orangered;
}

.subject:hover {
    width: fit-content;
    border: 1px solid orangered;
}

.content:hover {
    width: fit-content;
    border: 1px solid orangered;
}

.table-contact {
    display: flex;
}

.name_contact {
    font-size: 50px;
    padding: 40px;
}

.contato {
    justify-items: center;
}